<div id="main"></div>
<div id="flight_container"></div>

<script id="plane_creator" type="text/x-handlebars-template">
  <div id="plane_table">
    <div>
      <h1>Plane Creator</h1>
      <h2 id="plane_name">Name?</h2>
    </div>
    <div id="plane_viewer">
      <table>
        <tr>
          <th>NAME</th>
          <th>ROWs</th>
          <th>AISLEs</th>
        </tr>
      {{#each planes}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.rows}}</td>
          <td>{{this.aisles}}</td>
        </tr>
      {{/each}}
      </table>
    </div>
  </div>
  <div class="circle">
    <h2 id="aival">0</h2>
  </div>
  <div class="circle">
    <h2 id="rowval">Rows</h2>
  </div>
  <div>
    <form>
      <label>Name</label>
      <input name="name" id="name" type="text" autofocus="true"><br>
      <label>Rows</label>
      <input id="rows" name="rows" type="range".vertical min="0" max="40" value="25" step="5">
      <label>Aisles</label>
      <input id="aisles"name="aisles" type="range" min="0" max="3" value="1">
      <input type="submit" id="create" value="Create Plane"><br>
    </form>
    <div id="seating"></div>
  </div>
</script>

<script id="single_aisle" type="text/x-handlebars-template">

<div class="plane-row">
  <div id="f"class="window seat">{{row}}f</div>
  <div id="e"class="seat">{{row}}e</div>
  <div id="d"class="seat">{{row}}d</div>
  <div class="aisle"></div>
  <div id="c"class="seat">{{row}}c</div>
  <div id="b"class="seat">{{row}}b</div>
  <div id="a"class="window seat">{{row}}a</div>
</div>
</script>

<script id="dual_aisle" type="text/x-handlebars-template">
<div class="plane-row">
  <div id="j"class="window seat">{{row}}j</div>
  <div id="i"class="seat">{{row}}i</div>
  <div id="h"class="seat">{{row}}h</div>
  <div class="aisle"></div>
  <div id="g"class="seat">{{row}}g</div>
  <div id="f"class="seat">{{row}}f</div>
  <div id="e"class="seat">{{row}}e</div>
  <div id="d"class="seat">{{row}}d</div>
  <div class="aisle"></div>
  <div id="c"class="seat">{{row}}c</div>
  <div id="b"class="seat">{{row}}b</div>
  <div id="a"class="window seat">{{row}}a</div>
</div>
</script>

<script id="triple_aisle" type="text/x-handlebars-template">

<div class="plane-row">
  <div id="n"class="window seat">{{row}}n</div>
  <div id="m"class="seat">{{row}}m</div>
  <div id="l"class="seat">{{row}}l</div>
  <div class="aisle"></div>
  <div id="k"class="seat">{{row}}k</div>
  <div id="j"class="seat">{{row}}j</div>
  <div id="i"class="seat">{{row}}i</div>
  <div id="h"class="seat">{{row}}h</div>
  <div class="aisle"></div>
  <div id="g"class="seat">{{row}}g</div>
  <div id="f"class="seat">{{row}}f</div>
  <div id="e"class="seat">{{row}}e</div>
  <div id="d"class="seat">{{row}}d</div>
  <div class="aisle"></div>
  <div id="c"class="seat">{{row}}c</div>
  <div id="b"class="seat">{{row}}b</div>
  <div id="a"class="window seat">{{row}}a</div>
</div>
</script>

<script id="flight_creator_template" type="text/x-handlebars-template">
  <h1>Stellar Airlines</h1>
  <input name="call_sign" id="call_sign" type="text" autofocus="true" placeholder="CALLSIGN"><br>
  <input name="origin" id="origin" type="text" placeholder="ORIGIN"><br>
  <input name="destination" id="destination" type="text" placeholder="DESTINATION"><br>
  <select name="plane_type" id="plane_type">
    {{#each planes}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select><br>
  <input name="date_departed" id="date_departed" type="date"><br>
  <input name="time_departed" id="time_departed" type="time"><br>
  <input name="date_arrived" id="date_arrived" type="date"><br>
  <input name="time_arrived" id="time_arrived" type="time"><br>
  <input name="journey_time" id="journey_time" type="integer" placeholder="JOURNEY LENGTH"><br>
  <input type="submit" id="create_flight" value="Create Flight"><br>
  <div id="flight_table">
    <div>
      <h1>Flight Creator</h1>
      <h2 id="flight_name">Name?</h2>
    </div>
    <div id="flight_viewer">
      <table>
        <tr>
          <th>call_sign</th>
          <th>origin</th>
          <th>plane_type</th>
          <th>date_departed</th>
          <th>time_departed</th>
          <th>date_arrived</th>
          <th>time_arrived</th>
        </tr>
      {{#each flights}}
        <tr>
          <td>{{this.call_sign}}</td>
          <td>{{this.origin}}</td>
          <td>{{this.plane.name}}</td>
          <td>{{this.destination}}</td>
          <td>{{this.date_departed}}</td>
          <td>{{this.time_departed}}</td>
          <td>{{this.date_arrived}}</td>
          <td>{{this.time_arrived}}</td>
        </tr>
      {{/each}}
      </table>
    </div>
  </div>
</script>