<div id="main"></div>

<script id="plane_creator"type="text/x-handlebars-template">
  <div>
  <h1>Plane Creator</h1>
    <form>
      <label>Rows</label>
      <input id="rows" name="rows" type="range" min="0" max="75" value="25" step="5">
      <output id="rowval" for=rows id="rows">10</output>

      <label>Aisles</label>
      <input id="aisles"name="aisles" type="range" min="0" max="3" value="1">
      <output id="aival" for=rows id=rows>10</output>
      <input type="submit" value="GO">
    </form>
  </div>

  <div id="f"class="window seat"></div>
  <div id="e"class="seat"></div>
  <div id="d"class="seat"></div>
  <div class="aisle"></div>
  <div id="c"class="seat"></div>
  <div id="b"class="seat"></div>
  <div id="a"class="window seat"></div>
</script>

<script id="dual_aisle" type="text/x-handlebars-template">
  <div id="j"class="window seat"></div>
  <div id="i"class="seat"></div>
  <div id="h"class="aisle"></div>
  <div class="aisle"></div>
  <div id="g"class="seat"></div>
  <div id="f"class="seat"></div>
  <div id="e"class="seat"></div>
  <div id="d"class="seat"></div>
  <div class="aisle"></div>
  <div id="c"class="seat"></div>
  <div id="b"class="seat"></div>
  <div id="a"class="window seat"></div>
</script>

<script id="triple_aisle" type="text/x-handlebars-template">
  <div id="n"class="window seat"></div>
  <div id="m"class="seat"></div>
  <div id="l"class="seat"></div>
  <div class="aisle"></div>
  <div id="k"class="seat"></div>
  <div id="j"class="seat"></div>
  <div id="i"class="seat"></div>
  <div id="h"class="seat"></div>
  <div class="aisle"></div>
  <div id="g"class="seat"></div>
  <div id="f"class="seat"></div>
  <div id="e"class="seat"></div>
  <div id="d"class="seat"></div>
  <div class="aisle"></div>
  <div id="c"class="seat"></div>
  <div id="b"class="seat"></div>
  <div id="a"class="window seat"></div>
</script>




<!-- <h1>Listing planes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= link_to 'Show', plane %></td>
        <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
        <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plane', new_plane_path %>
 -->