<script id="plane_dropdown_template" type="text/template" >
    <select id="plane_selector">
        <% planes.each(function(plane) { %>
            <option value="<%= plane.get('name') %>"><%= plane.get('rows') %></option>
        <% }); %>
    </select>
</script>

