// Place all the styles related to the Planes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seat {
    border: 20px solid red;
    max-width: 10px;
    min-height: 3px;
    min-width: 7px;
    color: black;
}
.aisle {
    min-width: 5px;
    min-height: 3px;
    background-color: grey;
}
.row {
    min-width: 5px;
    border: 2px solid blue;
}