// Place all the styles related to the Planes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seat {
    border: 1px solid red;
    max-width: 26px;
    min-height: 26px;
    min-width: 26px;
    color: white;
    font-size: 10px;
    &:hover{
        background-color: red;
    }
}
.aisle {
    min-width: 26px;
    min-height: 26px;
    background-color: grey;
}
.row {
    min-width: 26px;
    border: 1px solid blue;
}

.plane-row {
    width: 26px;
    float: left;
}